---
layout: timeline
---

<section id="blog">
  <div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h1 class="section-heading">Blog</h1>
                <div class="intro_blog">
                  <p class="section-subheading text-muted">OkoWe, graine d’initiatives locales pour résoudre des enjeux globaux. Un blog pour partager avec vous ce voyage d’un mois au Burkina mêler de rencontres, de découvertes et de premiers tests terrains. L’objectif est de faire connaître OkoWe auprès d’influenceurs, de maker et d’entrepreneurs locaux qui font bouger les choses ! Je vous propose de découvrir certains de leurs parcours tout au long de ce blog, allant de rencontres parfois inattendues aux surprises culturelles Burkinabé, toutes sources d’inspiration et de détermination pour lancer le projet OkoWe !</p>
                </div>
            </div>
        </div>
      </div>

      <div class ="timeline">

        {% for post in site.posts %}
        {% assign mod = forloop.index | modulo: 2 %} {% if mod == 0 %} {% assign class = "g--l--reverse" %} {% else %} {% assign class = "g" %} {% endif %}
          <div class="row">
              <div class="cell">
                  <div class="{{ class }}">
                      <div class="col-lg-6 col-md-6 col-sm-6 g-b g-b--m--1of2">
                          <!-- <img src="assets/timeline_01.svg" class="picto_timeline" alt="Pitco Prise de conscience"> -->
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 g-b tm-text-element">
                          <h2 class="timeline-waypoint"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
                          <div class=""> {{ post.date | date: "%b %-d, %Y" }} </div>

                          <div class="timeline-body">
                              <p class="text-muted">{{ post.description | strip_html | truncatewords:128 }}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}

      </div> <!-- div.timeline -->

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 text-center">
            <div class="">
                <h3>Be Part<br>Of Our<br>Story!</h3>
            </div>
        </div>
      </div>

    </div>
</section>
