---
layout: timeline
---

<section id="blog" style="padding: 25px 150px 25px 150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Blog</h2>
                <div class="intro_blog">
                <h4 class="section-subheading text-muted">OkoWe, graine d’initiatives locales pour résoudre des enjeux globaux.
                Un blog pour partager avec vous ce voyage d’un mois au Burkina mêler de rencontres, de découvertes et de premiers tests terrains. L’objectif est de faire connaître OkoWe auprès d’influenceurs, de maker et d’entrepreneurs locaux qui font bouger les choses !
                Je vous propose de découvrir certains de leurs parcours tout au long de ce blog, allant de rencontres parfois inattendues aux surprises culturelles Burkinabé, toutes sources d’inspiration et de détermination pour lancer le projet OkoWe !</h4>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    {% for post in site.posts %} {% assign mod = forloop.index | modulo: 2 %} {% if mod == 0 %} {% assign class = "timeline-inverted" %} {% else %} {% assign class = "" %} {% endif %}
                    <li class="{{ class }}">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/timeline/{{ post.img }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
                                <a href="{{ post.url }}"><h4 class="subheading">{{ post.title }}</a></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ post.description | strip_html | truncatewords:128 }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part<br>Of Our<br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
