<section id="posts" style="padding: 25px 150px 25px 150px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ content }}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <h3>Commentaires</h3>
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
    <script>
        var disqus_config = function() {
            //this.page.url = {{site.url}};
            this.page.identifier = OkoWe;
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');

            s.src = '//okowe.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
