<section id="posts">
  <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="col-md-12 orange">
              {{ post.excerpt }}
              {{ category }}
          </div>
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
        <div class="col-md-4">
          <p>Derniers articles</p>
          <ul class="last_articles">
          {% for post in site.posts limit:4 %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> <!-- div.row -->
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h3>Commentaires</h3>
        <div id="disqus_thread"></div>
      </div>
    </div> <!-- div.row -->
  </div> <!-- div.container -->
    <script>
        var disqus_config = function() {
            //this.page.url = {{site.url}};
            this.page.identifier = OkoWe;
        };

        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document,
                s = d.createElement('script');

            s.src = '//okowe.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
